@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
    color: rgb(204, 92, 92);
}

a:hover {
    color: rgb(233, 86, 86);
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-right: 0.3em;
    vertical-align: middle;
}

.stretch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stretch > * {
    display: inline-block;
}

.main {
    width: 200px;
    padding: 30px;
    border: 2px dotted gray;
}

.logo .a10n-number {
    color: gray;
}

.info {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.info p {
    margin: 0.5em 0;
}